body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7 url('ruta_de_la_imagen.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3498db;
    font-size: 2.5rem;
}

h2 {
    color: #3498db;
    font-size: 2rem;
}

.stButton > button {
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.stButton > button:hover {
    background-color: white;
    color: #3498db;
}

.stTextInput > div > div > input {
    background-color: #ecf0f1;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.stMarkdown {
    color: #333;
}

.stSuccess {
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
}